@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Modify this template to jump-start your ASP.NET Web Pages application.</h2>
        </hgroup>
    </div>
</section>
}

<h1>Welcome To The Library</h1>
<p>Hello students, faculty, and guests. We hope you enjoy our collection of novels and books. We are here to provide quality service to all our users and want you all to enjoy reading and picking out a book.</p>
<hr>
<h3>What do I do?</h3>
<p>Now that you are here with us, log in or search for a book and continue as a guest. Only students can checkout books. So if you dont have an account click on the register button.</p>