@{
    ViewBag.Title = "Search";
}

<h1>Search For A Book Here</h1>

<div class=" form-group row">

    <label for="BookName" class="col-sm-2 col-fom-label">Book Name</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="book" placeholder="Book" /><button type="submit" class="btn btn-primary">Submit</button>
    </div>

</div>